@use "../abstracts/" as *;

.home-container {
	display: grid;
	place-items: center;
	text-align: center;
	background-image: url("../../images/home-bgd.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	.btn {
		font-size: 2rem;
	}
	padding: 15rem 0;
}

.home-header {
	backdrop-filter: blur(8px);
	width: 50%;
	padding: 2rem;
}

.home-title, .home-description {
	color: $white;
}

.home-title {
	font-size: 8rem;
}

.home-description {
	font-size: 3rem;
}

