@use "../abstracts/" as a;

.item-list-container {
	margin: 5rem 0;
	padding: 0 2rem;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 0.2fr));
	place-items: center;
	column-gap: 7%;
	row-gap: 3%;
	justify-content: center;
}

@media screen and (max-width: 768px){
	.item-list-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		.card {
			margin: 2rem;
		}
	}
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
	.item-list-container {
		grid-template-columns: repeat(autofit, minmax(30rem, 0.2fr));
	}
}
