@use "../abstracts/" as *;

.footer-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background-color: $dark-green;
	padding: 1rem 0;
	margin-top: auto;
}

.footer-social-media-title,
.footer-signature,
.social-media-icon {
	font-size: 1.5rem;
	color: $white;
}

.social-media-icon:hover {
	color: $morning-blue;
}

.footer-social-media,
.personal-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.footer-social-media-title {
	margin-right: 1rem;
}

.footer-signature {
	margin-right: 1rem;
}

@media screen and (max-width: 768px) {
	.footer-container {
		padding: 0;
		.logo-img {
			display: none;
		}
		.footer-social-media-link {
			padding: 1rem;
		}
	}
	.footer-signature, .footer-social-media-title {
		display: none;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.footer-container {
		.social-media-icon {
			font-size: 2rem;
		}
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	.footer-signature, .footer-social-media-title {
		font-size: 1.2rem;
	}
}
