@use "../abstracts/" as *;

.footer-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	background-color: $dark-green;
	padding: 1rem 0;
	margin-top: auto;
}

.footer-social-media-title,
.footer-signature,
.social-media-icon {
	font-size: 1.5rem;
	color: $white;
}

.social-media-icon:hover {
	color: $morning-blue;
}

.footer-social-media,
.personal-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.footer-social-media-title {
	margin-right: 1rem;
}

.footer-signature {
	margin-right: 1rem;
}
