@use "../abstracts/" as a;

.item-list-container {
	margin-top: 1.5rem;
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 0.2fr));
	place-items: center;
	column-gap: 7%;
	row-gap: 3%;
	justify-content: center;
}
