@use "../abstracts" as a;

.desktop-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: a.$dark-green;
  margin: 0;
  padding-right: 1rem;
  position: sticky;
  .logo-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    .logo-img {
        margin-left: 2rem;
	}
    .nav-title {
      color: a.$white;
      font-family: a.$montserrat-family;
      font-weight: a.$font-weight-regular;
    }
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .nav-link {
      display: inline-block;
      font-family: a.$montserrat-family;
      font-weight: a.$font-weight-regular;
	  font-size: 1.3rem;
      margin: 0 1rem;
      color: a.$white;
      text-decoration: none;
    }

    .nav-link:hover {
      color: a.$morning-blue;
    }
  }
}

.dropdown {
	position: relative;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: a.$light-green;
}

.dropdown-content .dropdown-link {
	text-decoration: none;
	text-align: left;
	color: a.$white;
	font-size: 1.2rem;
	padding: 1rem 0.5rem;
}


.dropdown-content .dropdown-link:hover {
	color: a.$dark-green;
}

.dropdown:hover .dropdown-content {
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-self: center;
	left: 50%;
	margin-left: -40%;
}

.dropdown-icon {
	margin-left: 1rem;
}
