@use "../abstracts" as a;

// Estilos generales para el navbar, en los breakpoints manejo la vista
// para celulares
.desktop-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: a.$dark-green;
  margin: 0;
  padding-right: 1rem;
  position: sticky;
  .logo-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    .logo-img {
        margin-left: 2rem;
	}
    .nav-title {
      color: a.$white;
      font-family: a.$montserrat-family;
      font-weight: a.$font-weight-regular;
    }
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .nav-link {
      display: inline-block;
      font-family: a.$montserrat-family;
      font-weight: a.$font-weight-regular;
	  font-size: 1.3rem;
      margin: 0 1rem;
      color: a.$white;
      text-decoration: none;
    }

    .nav-link:hover {
      color: a.$morning-blue;
    }
  }
}

.mobile-nav {
  display: none;
}

